@charset "utf-8";@media screen and (max-width:1604px){
 .article4 .slick-arrow { display:none !important; position:absolute; top:50%; transform: translateY(-50%); border:none; width:40px; font-size: 50px; color:#000; } 
 }


@media screen and (max-width:1084px) { /* article1 */
    @keyframes btnAni { 
        0% { width:0 } 
        100% { width:64px } 
        }
 #section .article1 .slide { height:400px; background-size:cover; background-position:center; position:relative; } 
#section .article1 .slide_text { position: absolute; margin: 0 auto; top: 42%; max-width: 100%; text-align: center; margin: 0; font-size: 20px; z-index: 99; color: #fff; } 
#section .article1 .slide_text p { margin: 0 auto; font-size: 18px; padding: 27px 30px 25px; transform:translateY(100%); transition:all 1s; opacity: 0; } 
.article1 .plpa { position: absolute; bottom: 8px; left: 50%; margin-left: 126px; font-size: 15px; color: #000; cursor: pointer; } 
.article1 .slick-arrow { position:absolute; top:50%; transform: translateY(-50%); font-size:30px; color:#fff; border:none; } 
.article1 .slick-prev { left:50px; z-index: 9999; } 
.article1 .slick-next { right:50px; } 
.article1 .slick-dots { position:absolute; bottom: 10px; width:100%; text-align: center; } 
.article1 .slick-dots li { position:relative; display: inline-block; margin:0 5px; width:64px; height:2px; background:rgba(0,0,0,1); } 
.article1 .slick-dots li button { border:none; width:0px; height:2px; background:#fff; position:absolute; top:0; left:0; text-indent: -9999px; overflow: hidden; } 
.article1 .slick-dots li.slick-active button { animation:btnAni 3s both; } 
.article1 .slick-dots li.slick-active button.btnPause { animation-play-state:paused; } 

/* article2 */
.article2 { position:static; max-width: 100%; height: 100%; background-color: #fff; overflow: hidden; margin:0 0 0; z-index: 10; } 
.article2 .tit { position:static; right:0; max-width:100%; margin: 0 auto; padding-bottom: 35px; } 
.article2 .tit .row { padding: 50px 0 34px; text-align: center; } 
.article2 .tit h3 { float: none; font-size: 35px; letter-spacing: 20px; font-weight: 500; } 
.article2 .tit .titimg { float: left; background: #f5f5f5; padding: 50px 15px 30px 15px; width:100%; } 
.article2 .tit .titimg .titimgleft { width: 100%; height: auto; margin:0 } 
.article2 .tit .titimg .titimgleft img { background-size:cover; background-position:center; width: 100%; margin:0; } 
.article2 .tit .titimg .titimgright { padding:20px 10px; width: 100%; margin:0; } 
.article2 .tit .row > p { font-size: 16px; padding: 22px 0 0 0; color:#999; } 
.article2 .tit .titimg .titimgright p { width:100%; line-height: 25px; margin: 0; color: #999; font-size: 16px; height:60px; } 
.article2 .tit .titimg .titimgright .rightDiv { display: inline-block; padding:50px 0 0; } 
.article2 .tit .titimg .titimgright a { width: 90px; padding: 2px 5px 13px 5px; font-size: 15px; margin-top: 25px; color: #333; box-sizing: border-box; } 

/* article3 */
.article3 { max-width: 100%; overflow: hidden; background-color:#fff; margin: 0; position: static; z-index: 10; height:100%; } 
.article3 .tit { max-width:100%; margin: 0 auto; height: 100%; position:static; left:0; background: url(../img/img3.jpg) no-repeat center; } 
.article3 .tit .row { padding: 50px 0 34px; text-align: center; } 
.article3 .tit .row > p { font-size: 16px; padding: 22px 0 0 0; color:#999; } 
.article3 .tit h3 { float: none; font-size: 35px; letter-spacing: 20px; font-weight: 500; } 
.article3 .tit p { float: none; font-size: 16px; padding: 22px 0 0 35px; color:#fff; } 
.article3 .tit .titimg { box-sizing: border-box; max-width: 100%; height:100%; background-size: cover; background-position: center; padding: 50px 20px 30px; overflow: hidden; } 
.article3 .tit .titimgright { width:100%; } 
.article3 .tit .titimgright img { width: 100%; height:100%; padding:38px; text-align: center; } 
.article3 .tit .titimgleft { float: left; height:245px; width: 100%; margin: 0; color: #fff; padding:20px 10px; } 
.article3 .tit .titimgleft p { width: 100%; line-height: 25px; padding: 0; } 
.article3 .tit .titimgleft a { width: 90px; height: 55px; border-radius: 5px; text-align: center; margin-top: 20px; line-height: 55px; } 

/* article4 */
.article4 { position:static !important; max-width: 100% !important; height: 100%; background-color: #fff; overflow: hidden; margin:0 0 0; z-index: 10; } 
.article4 .tit { position:static !important; right:0; max-width:100% !important; margin: 0 auto; padding-bottom: 35px; } 
.article4 .tit .titimg { position:static !important; background: #f5f5f5; max-width:100% !important; text-align:center; height:507px; line-height:507px; } 
.article4 .tit .row { padding: 50px 0 34px; text-align: center; } 
.article4 .tit h3 { float: none; font-size: 35px; letter-spacing: 20px; font-weight: 500; } 
.article4 .tit .row > p { float: none; font-size: 16px; padding: 22px 0 0 0; color:#999; } 

/* article5 */
.article5 { position:static !important; max-width: 100% !important; height: 100%; } 
.article5 .tit { position:static !important; max-width:100% !important; height: 100%; left:0; } 
.article5 .tit .row { padding: 50px 0 34px; text-align: center; } 
.article5 .tit h3 { float: none; } 
.article5 .tit .row > p { float: none; font-size: 16px; padding: 22px 0 0 0; color:#999; } 
.article5 .tit .titimg { position:static; background-color:#f5f5f5; width:100%; height:100%; } 
.article5 .tit .titimgAd { height:100%; width:100%; padding:20px; } 
.article5 .tit .titimgAd > div { padding:27px; } 
.article5 .tit .titimgAd .titimgAdUl { padding: 0; width: 100%; text-align: center; } 
.article5 .tit .titimgAd > .titimgAdUl > div > div a { font-size:20px; width:100%; display: block; height: 170px; text-align: center; padding: 10px; box-sizing: border-box; background-position: center bottom; background-repeat: no-repeat; transition: all 0.3s; } 
.article5 .tit .titimgAdUl2 { position:static; text-align: center; box-sizing: border-box; width:92%; margin: 20px 4% 20px; height:100%; background:#fff; padding: 30px 25px 80px 25px; } 
.article5 .tit .titimgAdUl2 .titimgAd2Box { padding:0; } 
.article5 .tit .titimgAdUl2 .titimgAd2Box ul { padding: 0; } 
.article5 .tit .titimgAdUl2 .titimgAd2Box ul li span { display: none; } 
.article5 .tit .titimgAdUl2 .titimgAd2Box ul li { text-align: left; line-height: 40px; padding: 20px 0; border-bottom:1px solid #999; } 
 }
